<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add employeer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel = "stylesheet" href="/assets/css/style.css">
</head>
<body>
<h1 align="center">Add new employeer</h1>
<form action="#" th:action="@{/addemp}" th:object="${addemp}" method="post" align="center">
    <p>Surnameame: <input type="text" th:field="*{emp_surname}" /></p>
    <p>Name: <input type="text" th:field="*{emp_name}" /></p>
    <p>Patronymic: <input type="text" th:field="*{emp_patronymic}" /></p>
    <p>Password: <input type="text" th:field="*{emp_hash}" /></p>
    <p><button type="submit" class="btn btn-outline-success">Submit</button> </p>
</form>
</body>
</html>